<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IT488_Leave_Request_Dashboard.Properties.Settings.leave_request_dashboardConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=leave_request_dashboard;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IT488_Leave_Request_Dashboard.Properties.Settings.leave_request_dashboardConnectionString1"
            connectionString="Data Source=50.90.25.31;Initial Catalog=leave_request_dashboard;Persist Security Info=True;User ID=User_HR;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>